@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <h1>Bienvenue sur la Page d'Accueil</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="btn-container">
                <h3>Présentation de la vue</h3>
                <button type="button"  onclick="window.location.href='@Url.Action("Vue", "Home")'">La vue</button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="btn-container">
                <h3>Les équipes</h3>
                <button type="button"  onclick="window.location.href='@Url.Action("GetEquipes", "Home")'">Les équipes</button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="btn-container">
                <h3>Données que je déchiffre avant d'afficher (AdresseNumeroPorte)</h3>
                <button type="button"  onclick="window.location.href='@Url.Action("DonnéesChiffréesAafficher", "Home")'">Voir les données</button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="btn-container">
                <h3>Liste des images</h3>
                <button type="button"  onclick="window.location.href='@Url.Action("index", "images")'">Voir les images</button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="btn-container">
                <h3>Créer/importer une image</h3>
                <button type="button"  onclick="window.location.href='@Url.Action("create", "images")'">Créer une image</button>
            </div>
        </div>
    </div>
</div>